<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.ac.kopo.dao.MemberDao">

	<insert id="insertMem" parameterType="MemberVO">
	 	INSERT INTO member
	(mem_id, mem_mail, mem_pass, mem_name, admin)
	VALUES (#{memId}, #{memMail}, #{memPass}, #{memName}, 'N')
	</insert>
	 
	 <!-- 로그인 -->
	 <select id="login" resultType="MemberVO">
	 	SELECT mem_id, mem_pass, mem_name,mem_mail,admin
	 	FROM member
	 	WHERE mem_id = #{memId}
	 </select>
	 
	 <select id="selectMem" resultType="MemberVO">
	 	SELECT mem_id, mem_mail, mem_pass, mem_name
	 	FROM member
	 	WHERE mem_id = #{memId}
	 </select>
	 
	 <select id="selectMemList" resultType="MemberVO">
	 	SELECT mem_id, mem_mail, mem_name 
	 	FROM member
	 </select>
	 
	 <update id="updateMem" parameterType="MemberVO" >
	 	UPDATE member set mem_pass = #{memPass}, mem_mail = #{memMail}, mem_name = #{memName}
	 	WHERE mem_id = #{memId}
	 </update>
	 
	 <delete id="delMem" parameterType="MemberVO" >
	 	delete from member
	 	WHERE mem_id = #{memId}
	 </delete>
	
	<select id="find" resultType="MemberVO">
	 	SELECT mem_id, mem_mail, mem_pass, mem_name
	 	FROM member
	 	WHERE mem_id = #{memId} AND mem_name = #{memName}
	 </select>
	
</mapper>
