<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="kr.ac.kopo.dao.ProductDao">

	<insert id="insertProd" parameterType="ProductVO">
	 	INSERT INTO product_data
	(prod_num, prod_name, prod_price, sale, store, category )
	VALUES (prod_seq.NEXTVAL, #{prodName}, #{prodPrice}, #{sale}, #{store}, #{category})
	</insert>
	 
	 
	<delete id="delete">
		DELETE FROM product_data
	
	</delete>
	
	<select id="selectList" resultType="productVO" parameterType="kr.ac.kopo.model.Criteria">
		select prod_name, prod_price, sale, store
		from
		(select prod_name, prod_price, sale, store, row_number() over(order by prod_num) as RNUM
		from
		product_data)
		
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		
	</select>
	
	
	<sql id="selectListWhere">
		<where>
			<if test='searchCondition != null and searchCondition != ""'>
				<choose>
					<when test='searchCondition == "all"'>
						AND prod_name LIKE '%'||#{searchKeyword}||'%'
					</when>
					<when test='searchCondition == "cu"'>
						AND store LIKE #{searchCondition} AND prod_name LIKE '%'||#{searchKeyword}||'%'
					</when>
					<when test='searchCondition == "gs25"'>
						AND store LIKE #{searchCondition} AND prod_name LIKE '%'||#{searchKeyword}||'%'
					</when>
					<when test='searchCondition == "seven"'>
						AND store LIKE #{searchCondition} AND prod_name LIKE '%'||#{searchKeyword}||'%'
					</when>
					<when test='searchCondition == "emart24"'>
						AND store LIKE #{searchCondition} AND prod_name LIKE '%'||#{searchKeyword}||'%'
					</when>
				</choose>
			</if>
		</where>
	
	</sql>
	 
	<select id="listCount" resultType="int">
	<![CDATA[
		SELECT COUNT(*)
		  FROM product_data
	]]>
	</select>
	
	

</mapper>
