<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="kr.ac.kopo.dao.ProductDao">

	<insert id="insertProd" parameterType="ProductVO">
	 	INSERT INTO product_data
	(prod_num, prod_name, prod_price, sale, store, category )
	VALUES (prod_seq.NEXTVAL, #{prodName}, #{prodPrice}, #{sale}, #{store}, #{category})
	</insert>
	 
	 
	<delete id="delete">
		DELETE FROM product_data
	
	</delete>
	
	<select id="selectList" resultType="productVO" parameterType="kr.ac.kopo.model.SearchCriteria">
		select prod_name, prod_price, sale, store
		from
		(
		select prod_name, prod_price, sale, store, row_number() over(order by prod_num) as RNUM
		from product_data
		WHERE 1=1
		<include refid="search"></include>
		)
		
		WHERE AND RNUM BETWEEN #{rowStart} AND #{rowEnd} 
		
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'n'.toString()">AND PROD_NAME LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'cu'.toString()">AND STORE LIKE 'cu' AND PROD_NAME LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'gs25'.toString()">AND STORE LIKE 'gs25' AND PROD_NAME LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'seven'.toString()">AND STORE LIKE 'seven' AND PROD_NAME LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'emart24'.toString()">AND STORE LIKE 'emart24' AND PROD_NAME LIKE '%' || #{keyword} || '%'</if>
		</if>
	</sql>
	
	 
	<select id="listCount" resultType="int" parameterType="kr.ac.kopo.model.SearchCriteria">
	
		SELECT COUNT(*)
		  FROM product_data
		  WHERE 1=1
		  <include refid="search"></include>
	
	</select>
	
	
	
	

</mapper>
