html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
a{
	text-decoration: none;
}
.contt{
	width: 1200px;
	height: 400px;
	margin: 0 auto;
}
.cont{
	padding-top: 30px;
	width: 1920px;
	height: 60px;
	margin: 0 auto;
	background:rgb(230,230,230);
}
select{
	width: 60px;
	height: 30px;
}
.sect{
	width: 850px;
	height: 180px;
	margin: 0 auto;
	padding-bottom: 25px;
}
/* section div a img{

} */
.searchh{
	height: 25px;
	width: 300px;
}
.butt{
	width: 60px;
	height: 32px;
}
.search{
	width: 480px;
	height: 80px;
	margin: 0 auto;
}
.secti{
	width: 1200px;
	height: 400px;
	margin: 0 auto;
}
.line{
	border-bottom: 0.5px solid rgb(199, 199, 199);
}
.imgbox{
	width: 120px;
	height: 120px;
	float: left;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 35px;
	padding-bottom:30px;
	margin: 0 auto;
	}
section div a img{
	width: 120px;
	height: 120px;
	border: 0.5px solid rgb(255, 255, 255);
	border-radius: 15px;
}
section div a img:hover{
	border: 2px solid #87CEEA;
}
.noti {
	max-width: 1920px;
	width: 1400px;
	margin: 0 auto;
}
.notibox {

	display: flex;
	justify-content: space-between;
}
.srch {
	border-bottom: 1px solid #c0c0c0;
	border-right:1px;
	border-top:1px;
	border-left:1px;
	border-radius: 3px;
	width: 250px;
	height: 25px;
}
.srchBtn {
	border: 1px solid #fff;
    background-color: rgb(34,34,34);
    color: #fff;
    padding: 5px;
    width: 80px;
    border-radius: 20px;
    height: 30px;
}
.srchBtn:hover {
	background-color: #37D243;
	cursor: pointer;
}
input:focus {
	outline: none !important;
	border-color: #c0c0c0;
	box-shadow: 0 0 10px #37D243;
	display: inline-block;
}
.selBox {
	width: 65px;
	border: 1px solid #999;
	font-family: inherit;
	border-radius: 25px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-align: center;
}
.selBox:hover{
	border-color: #37D243;
}
.selBox:focus {
	outline:none;
	border-color: #37D243;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
 	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);

}