.wrap {
	margin: 0 auto;
}
.beck{
	height: 800px;
	background: url("/resources/images/header/log.jpg") repeat no-repeat;
}
.midd{
    width: 600px;
    height: 600px;
    margin: 0 auto;
    text-align: center;
    background: white;
    border-radius: 45px;
    display: table;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	width: 600px;
	text-align: center;
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.container table {
	line-height: 60px;
}
.tb {
	margin: 0 auto;
	display: table-cell;
    vertical-align: middle;
    padding-top: 30px;
}
.tb tbody {
	width: 600px;
	display: inline-block;
}
.tb td {
	width: 600px;
}
.btn {
	padding-top: 30px;
	display: flex;
    flex-direction: row;
    justify-content: center;
}
.wrap .btnreg {
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}
.wrap .btnreg:hover {
	background-color: #37D243;
	cursor: pointer;
}
.wrap .btnesc {
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}
.wrap .btnesc:hover {
	background-color: #37D243;
	cursor: pointer;
}
.wrap .btndup {
	border-radius: 20px;
	padding: 2px;
	width: 130px;
}
.wrap .btndup:hover {
	background-color: #37D243;
	cursor: pointer;
}
.wrap button {
	border:none;
    background-color: rgb(34,34,34);
    color: #fff;
    padding: 5px;
    width: 150px;
}
input {
	border-bottom: 1px solid #E0E0E0;
	border-right:1px;
	border-top:1px;
	border-left:1px;
	border-radius: 3px;
	width: 250px;
}
input:focus {
	outline: none !important;
	border-color: #c0c0c0;
	box-shadow: 0 0 10px #c0c0c0;
	display: inline-block;
	box-sizing: border-box;
}
input[type=text],
input[type=password],
input[type=email] {
	background-color: #ffffff;
    display: inline-block;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: normal;
}